#top-bar {
	background-color: hsl(237, 63%, 22%);
	border-bottom: 2px solid hsl(237, 63%, 22%);
	height: 5rem;
	padding: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.paragraph {
	width: 100%;
	max-width: 85ch;
	margin: 1em auto;
	background-color: hsl(237, 63%, 22%);
	color: hsl(237, 63%, 100%);
	border-radius: 1rem;
	padding: 1em 1.25em;
	font-size: 1.25rem;
	font-family: 'Raleway', sans-serif;
	box-shadow: 0 8px 12px 0 hsl(237, 63%, 22%);
}


select, input {
	cursor: pointer;
	border: 2px solid hsl(237, 63%, 22%);
	padding: 0.5em;
	font-size: 1rem;
	line-height: 1.5rem;
	border-radius: 1rem;
	background-color: hsl(237, 63%, 100%);
	outline: none;
	appearance: none;
	box-shadow: none;
	width: 25ch;
	margin: 0 0.35em;
	text-transform: capitalize;
}

.btn {
	cursor: pointer;
	border-radius: 1rem;
	border: none;
	outline: none;
	background-color: hsl(237, 63%, 22%);
	color: hsl(237, 63%, 100%);
	border: 2px solid hsl(237, 63%, 100%);
	padding: 0.5em 1em;
	font-size: 1rem;
	transition: all 0.3s ease;
	margin: 0 0.35em;
}

.btn:hover {
	background-color: hsl(234, 63%, 10%);
}

p, ul {
	margin: 0.3em 0;
}
