#top-bar {
	background-color: var(--color-dark-ruby);
	border-bottom: 2px solid var(--color-light-navy);
	height: 5rem;
	padding: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.text-container {
	background-color: var(--color-light-white);
	border: 2px solid var(--color-light-navy);
	color: var(--color-dark-navy);
	width: clamp(25ch, 50%, 80ch);
	margin: 1em auto;
	border-radius: 1rem;
	padding: 1rem 1rem;
	font-size: 1.25rem;
	font-family: 'Raleway', sans-serif;
}

.paragraph {
	margin: 0.625em 0;
}

.paragraph:first-child {
	margin-top: 0;
}

.paragraph:last-child {
	margin-bottom: 0;
}


select, input {
	cursor: pointer;
	border: 2px solid var(--color-light-navy);
	padding: 0.725em 0.5em;
	font-size: 1rem;
	line-height: 1.5rem;
	border-radius: 1rem;
	background-color: var(--color-light-white);
	outline: none;
	appearance: none;
	box-shadow: none;
	width: 25ch;
	margin: 0 0.35em;
	text-transform: capitalize;
}

.btn {
	cursor: pointer;
	border-radius: 1rem;
	border: none;
	outline: none;
	background-color: var(--color-light-navy);
	color: var(--color-light-white);
	border: 2px solid var(--color-light-white);
	padding: 0.725rem;
	font-size: 1rem;
	transition: all 0.3s ease;
	margin: 0 0.35em;
}

.btn:hover {
	background-color: var(--color-light-white);
	color: var(--color-dark-navy);
}
