@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@400;700&family=Raleway:wght@400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: (237, 63%, 100%);
	color: (237, 63%, 22%);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Neuton', serif;
}